<div id="faq-header">
	<div class="frame">
		<div class="bit-1">
			<h1>FAQ</h1>
    	</div>
  	</div>
</div>

<div id="faq-body">
	<div class="frame">
		<div class="bit-1">
	      <div class="accordion">

	        <div class="option">
	          <input type="checkbox" id="toggle1" class="toggle" />
	          <label class="title" for="toggle1"><h3>How much does it cost to use Fanattix?</h3>
	          </label>
	          <div class="content">
	            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
	          </div>
	        </div>

	        <div class="option">
	          <input type="checkbox" id="toggle1" class="toggle" />
	          <label class="title" for="toggle1"><h3>Can I use Fanattix for free events?</h3>
	          </label>
	          <div class="content">
	            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
	          </div>
	        </div>

	        <div class="option">
	          <input type="checkbox" id="toggle1" class="toggle" />
	          <label class="title" for="toggle1"><h3>How do I sell tickets on Fanattix?</h3>
	          </label>
	          <div class="content">
	            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
	          </div>
	        </div>

	        <div class="option">
	          <input type="checkbox" id="toggle1" class="toggle" />
	          <label class="title" for="toggle1"><h3>How do I get money from Fanattix?</h3>
	          </label>
	          <div class="content">
	            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
	          </div>
	        </div>

	        <div class="option">
	          <input type="checkbox" id="toggle1" class="toggle" />
	          <label class="title" for="toggle1"><h3>How do I get a refund on Fanattix?</h3>
	          </label>
	          <div class="content">
	            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
	          </div>
	        </div>

	        <div class="option">
	          <input type="checkbox" id="toggle1" class="toggle" />
	          <label class="title" for="toggle1"><h3>Can I cancel my free tickets on Fanattix?</h3>
	          </label>
	          <div class="content">
	            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
	          </div>
	        </div>
		  </div>
    	</div>
	</div>
</div>