<div id="my-events" class="body-padding">
  <div class="frame">
    <div class="bit-1">
      <h2 style="text-align: center;">My Events</h2>
    </div>
      <div class="bit-3" *ngFor="let event of events">
        <div class="event-card">
            <div class="event-card-image">
              <img src="{{IMAGE_URL}}{{event.image}}" class="object-fit card-img-top" alt="..." *ngIf="event.image">
              <img src="../assets/imgs/event-noimage.png" class="object-fit card-img-top w-25 mx-auto" alt="..." *ngIf="event.image==null || event.image==undefined">
            </div>
            <div class="event-card-text">
              <div class="event-card-date">
                <h4>{{event.occurrences[0]?.start | date: 'MMM'}}</h4>
                <h3>{{event.occurrences[0]?.start | date: 'dd'}}</h3>
              </div>
              <div><h3>{{event.name}}</h3></div>
              <h4><i class="fas fa-map-marker-alt"></i>&nbsp;{{event.location}}</h4>
              <h4><i class="fas fa-clock"></i>&nbsp;{{event.occurrences[0]?.start | date: 'h:mma'}}&emsp;<i class="fas fa-ticket-alt"></i><span *ngFor="let to of event.ticket_options">&nbsp;${{to.price}}</span></h4>
              <!--<hr>
              <p>Lorem ipsum dolor sit amet, voluptua iracundia an pri, his utinam principes dignissim ad. Ne nec dolore oblique nusquam, cu luptatum volutpat delicatissimi has.</p>-->
            </div>
          </div>
          <div class="event-button-container">
            <button (click)="goToDetail(event.id)" class="b5 btn btn-primary"><i class="fas fa-eye"></i><div>View</div></button>
            <button (click)="goToEdit(event.id)" class="b5 btn btn-primary"><i class="fas fa-cogs"></i><div>Edit</div></button>
            <button (click)="goToActions(event.id)" class="b5 btn btn-primary"><i class="fas fa-chart-line"></i><div>Stats</div></button>
            <button (click)="goToTickets(event.id)" class="b5 btn btn-primary"><i class="fas fa-chart-line"></i><div>Tickets</div></button>
          </div>
      </div>
  </div>
</div>
