<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div *ngFor="let event of events">
        <img class="w-100" *ngIf="event.image" [src]="IMAGE_URL + event.image" alt="event image">
        <h3 (click)="goToEdit(event.id)">{{event.name}}</h3>
        <p>{{event.description}}</p>
        <button (click)="goToDetail(event.id)" class="btn btn-primary">View</button>
        <button (click)="goToEdit(event.id)" class="btn btn-primary">Edit</button>
        <button (click)="goToActions(event.id)" class="btn btn-primary">Actions & Stats</button>
      </div>
    </div>
  </div>
</div>
