*{
    font-family: 'Hind', sans-serif;
}
.c-menu{
    display: flex;
    justify-content: flex-end;    
}
.c-menu-inner{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    border: 1px solid black;
    display: fixed;
    bottom: 0px;
    width: 300px;
    height: calc(100vh - 60px);
    background: #563D7C !important;
    color: white;
    padding: 16px;
}
.c-menu-inner ul{
    list-style: none;
    margin-bottom: 24px;
}
@keyframes hoverAnim{
    0%{padding-left: 0;}
    100%{padding-left: 8px;}
}
.c-menu-inner li:hover{
    background: white;
    background: #563D55;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    animation: hoverAnim .3s ease-in-out;
}
.c-menu-inner p{
    color: white;
    opacity: .6;
    margin-bottom: 8px;
}
.inner-content{
    width: calc(100vw - 300px); /* width to properly layout beside .c-menu-inner */
    /*border: 1px solid black;*/
}