.created-ticket{
    border: 1px solid #999;
    background: whitesmoke;
}
.new-tickets{
    margin-top: 20px;
}
.saved{
    border : 2px solid #4BB543 !important; 
}
.saved .save-btn{
    background: #4BB543 !important;
}
.saved-message{
    display: none;
}
.saved .saved-message{
    display: block !important
}