<h4>Tickets</h4>
<p *ngIf="createdTicketOptions">This Event has {{ticketOptions.length + createdTicketOptions.length}} Ticket(s) available</p>
<div *ngIf="createdTicketOptions" class="created-tickets">
  <div *ngFor="let ticket of createdTicketOptions;index as i">
      <div class="created-ticket">
          <h4>{{ticket.name}}</h4>
          <div class="ticket-meta">
            <p>{{ticket.price}}</p>
            <p>{{ticket.description}}</p>
            <p>{{ticket.number_total}}</p>
          </div>
        </div>
    
    <button style="background-color: orangered;" class="btn b4 btn-danger" (click)="deleteTicket(ticket)">Delete</button>

    <hr/>
  </div>
</div>

<div>
  <div *ngFor="let ticket of ticketOptions;index as i" class="new-tickets">
    <div class="form-group">
      <label for="exampleInputEmail1">Ticket Name</label>
      <app-error-display [errorMessage]="formErrors['name']" *ngIf="formErrors['name']"></app-error-display>
      <input [(ngModel)]="ticketOptions[i].name" type="text" (change)="logTicket(ticket)" class="form-control" aria-describedby="emailHelp" placeholder="Name Your ticket">
      <small class="form-text text-muted">Max Length 60 characters</small>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Ticket Description</label>
      <input [(ngModel)]="ticketOptions[i].description" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Describe your ticket">
      <small class="form-text text-muted">Be Sure to include a thorough description of your ticket Do your patrons know which ticket option to choose.</small>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Price</label>
      <app-error-display [errorMessage]="formErrors['price']" *ngIf="formErrors['price']"></app-error-display>
      <input [(ngModel)]="ticketOptions[i].price" type="text" class="form-control" aria-describedby="emailHelp" placeholder="0.00">
      <small class="form-text text-muted">Enter Price in USD</small>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Number Available</label>
        <input [(ngModel)]="ticketOptions[i].number_total" type="text" class="form-control" aria-describedby="emailHelp">
        <small class="form-text text-muted">Enter Max number of Tickets available for this product</small>
    </div>

    <button style="background-color: orangered;" class="btn b4 btn-danger" (click)="deleteTicket(ticket)">Delete</button>
    <span>&nbsp;</span>
    <button class="btn b4 btn-success ml-1 save-btn" (click)="saveTicketOption($event, ticket)">Save</button>
    <hr/>

  </div>

  <button class="btn b4" (click)="addTicketOption()">Add Ticket</button>
</div>

<!--<div class="confirm-delete-container">
  <app-confirm-delete-ticket-option [id]="deleteTicketId"></app-confirm-delete-ticket-option>
</div>-->

