.search-filters{
    /*display: flex;
    flex-direction: column;
    border: 1px solid black;*/
    background: whitesmoke;
    width: 300px;
    height: calc(100% - 60px);
    position: fixed;
    padding: 15px;
    left: 0;
    bottom: 0;
    z-index: -4;
    transition: all 0.2s ease-in-out;
}
.filters-list{
    display: flex;
    flex-direction: column;
}
.filter{
    position: relative !important;
}
.full-input{
    width: 100% !important;
}
select{
    width: 100%;
}
p{
    margin-bottom: 4px;
}