<div id="faq-header">
	<div class="frame">
		<div class="bit-1">
			<h1>Contact Us</h1>
    	</div>
  	</div>
</div>

<div id="contact-body">
	<div class="frame">
		<div class="bit-1">
			<p>
				Have an inquiry or question not answered by our <a href="/faq">FAQ</a>? Reach out and we'll be happy to answer any all questions you have regarding our service.</p>
				<div id="contact-form">
				<!--<form (submit)="">-->
					<span id="contact-left">
						<label for="exampleInputEmail1"><h4>Name</h4></label>
						<input type="text" name="contact-name">
					</span>

					<span id="contact-right">
						<label for="exampleInputEmail1"><h4>Email Address</h4></label>
						<input type="text" name="contact-email">
					</span>

					<label for="exampleInputEmail1"><h4>Subject</h4></label>
					<input type="text" name="contact-subject">

					<label for="exampleInputEmail1"><h4>Message</h4></label>
					<textarea placeholder="How can we help you?"></textarea>
					<button type="submit" class="b4 btn btn-primary">Send Message</button>
				<!--</form>-->
				</div>	
		</div>
	</div>
</div>