<div id="faq-header">
	<div class="frame">
		<div class="bit-1">
			<h1>Contact Us</h1>
    	</div>
  	</div>
</div>

<div id="contact-body">
	<div class="frame">
		<div class="bit-1">
			<p>
				Have an inquiry or question not answered by our <a href="/faq">FAQ</a>? Reach out to us via email or phone and we'll be happy to answer any all questions you have regarding our service.
				<br><small>Email: <a href="mailto:info@fanattix.com">info@fanattix.com</a></small>
				<br><small>Phone: <a href="tel:555-555-5555">555-555-5555</a></small>
			</p>
		</div>
	</div>
</div>