
.c-menu{
    position: fixed;
    font-family: 'Hind', sans-serif;
    left: 0;
    bottom: 0;
    height: calc(100vh - 60px);
    overflow-x: hidden;
    background: var(--purple);
    color: white;
    z-index: 100;
    transition: all 0.2s ease-in-out;
    width: 300px;
    transform: translateX(-300px);
}
.c-menu-inner{
}
.c-menu-inner ul{
    list-style: none;
    margin-bottom: 24px;
}
.c-menu-inner li { padding: 15px; background:rgba(255,255,255,0); transition: all 0.2s ease-in-out; }
.c-menu-inner li:hover{
    background: rgba(255,255,255,0.5);
    color: var(--black);
    cursor: pointer;
}
.c-menu-inner p{
    color: white;
    opacity: .6;
    margin-bottom: 8px;
}
.inner-content{
    width: calc(100vw - 300px); /* width to properly layout beside .c-menu-inner */
    /*border: 1px solid black;*/
}
.closed { transform: translateX(0px); }