<div class="c-menu" id="creator-panel">
  <div class="c-menu-inner">
    <div class="menu-item">
      <button class="creator-close" (click)="toggleSlide()"><i class="fas fa-times"></i></button>
      <ul *ngIf="this.currentUrl == '/creator/single'">
        <li class="menu-item-header"><p>CREATE EVENT</p></li>
        <!--scrollToElement uses the Ids set in eventcreatorsingle to scroll to elements-->
        <li (click)="scrollToElement('basic-info')" class="menu-item">Basic Info</li>
        <li (click)="scrollToElement('details')" class="menu-item">Details</li>
        <li (click)="scrollToElement('occurrence-create')" class="menu-item">Date & Time</li>
        <li (click)="scrollToElement('ticket-create')" class="menu-item">Tickets</li>
        <li (click)="scrollToElement('save-button')" class="menu-item">Finish & Publish</li>
      </ul>

      <ul *ngIf="this.currentUrl != '/creator/single'">
        <li class="menu-item-header"><a routerLink="/creator/single"><p>CREATE EVENT</p></a></li>
      </ul>
    </div>

    <div class="menu-item">
        <ul>
          <li (click)="goToMyEvents()" class="menu-item-header"><p>MY EVENTS</p></li>
          <li (click)="goToMyEvents()" class="menu-item">View My Events</li>
        </ul>
      </div>
  </div>
  
</div>
<button class="creator-button" (click)="toggleSlide()"><i class="fas fa-th-list"></i> Panel</button>
<router-outlet></router-outlet>