.user-messaging{
    width: 100vw;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.message-box{
    /*border: 1px solid #999;*/
    border-radius: 3px;  
    color: black;
    margin-bottom: 4px;
}
.info{
    background: #add8e6;
    border: 2px solid #00aced;
}
.error{
    background: #cc0000;
    border: 2px solid red;
}
.success{
    background: #4BCA81;
    border: 2px solid #4BFF99;
}
p{
    padding-bottom: 8px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 8px;
}