<div id="overview-head">
  <div class="center">
    <h1>Your Event Experience Just Got Better!</h1>
    <button type="button" (click)="goToEventCreator()" class="b4 btn btn-secondary btn-sm">Create Event</button>
  </div>
</div>

<div id="overview-prob">
  <div class="frame">
    <div class="bit-1">
      <h2>Networking? Class reunion? Baby shower? Concert? Festivel? <br>NO PROBLEM.</h2>
    </div>
  </div>
</div>

<div id="overview-mid">
  <div class="frame">
    <div class="bit-40 vertical-center">
      <h2>Make it official in minutes</h2>
      <p>Give your event the home it needs with its very own listing page.</p>
      <button type="button" (click)="goToEventCreator()" class="b4 btn btn-secondary btn-sm">Get Started</button>
    </div>
    <div class="bit-60" style="float: right;">
      <img class="resp-img" src="/assets/imgs/overview1.png">
    </div>
  </div>
</div>

<div id="overview-mid2">
  <div class="frame">
    <div class="bit-3">
      <h3>We'll handle the processing</h3>
      <p>Let your attendees pay online, and get paid out quickly.</p>
    </div>
    <div class="bit-3">
      <h3>Charge As You Wish</h3>
      <p>And no, we won't charge you for free tickets.</p>
    </div>
    <div class="bit-3">
      <h3>Manage on the Go</h3>
      <p>Everything you need for your event on your device.</p>
    </div>
  </div>
</div>

<div id="overview-bar">
  <div class="frame">
    <div class="bit-1">
      <h1>Raise the Bar For Your Attendees</h1>
      <p>Overdeliver for your event experience from discovery, to payment, to entry.</p>
    </div>
    <div class="bit-3">
      <img style="width: 80px; margin-bottom: 20px;" src="/assets/imgs/qr-code.png"/>
      <h3>Scan &amp; Enter</h3>
      <p>Keep the entry process short and sweet.</p>
    </div>
    <div class="bit-3">
      <img style="width: 80px; margin-bottom: 20px;" src="/assets/imgs/mobile.png"/>
      <h3>On-site Management</h3>
      <p>Accept credit cards and cash, look up orders, and print tickets.</p>
    </div>
    <div class="bit-3">
      <img style="width: 80px; margin-bottom: 20px;" src="/assets/imgs/checklist.png"/>
      <h3>Numbers at Your Fingertips</h3>
      <p>Make informed decisions with data, insights, and reports.</p>
    </div>
  </div>
</div>