<div id="faq-header">
	<div class="frame">
		<div class="bit-1">
			<h1>Pricing</h1>
    </div>
  </div>
</div>

<div id="price-cards">
  <div class="frame">
    <div class="bit-3">
      <div class="price-card">
        <div class="price-header">
          <h2>Newbie</h2>
          <div class="price-cost">1% + .50</div>
          <p>Good for new businesses</p>
        </div>
        <div class="price-body">
          <ul>
            <li>One Type of Ticket</li>
            <li>Analytics</li>
            <li>Payout 3 Days After</li>
            <li>Processing Fee $5</li>
          </ul>
          <button class="btn b4">Get Started</button>
        </div>
      </div>
    </div>
    <div class="bit-3">
      <div class="price-card">
        <div class="price-header">
          <h2>Skilled</h2>
          <div class="price-cost">2% + $1</div>
          <p>Good for new businesses</p>
        </div>
        <div class="price-body">
          <ul>
            <li>Unlimited Tickets</li>
            <li>Custom Page</li>
            <li>Same Day Payout</li>
            <li>Processing Fee $10</li>
            <li>Ticket Sold on Your Own Site</li>
          </ul>
          <button class="btn b4">Get Started</button>
        </div>
      </div>
    </div>
    <div class="bit-3">
      <div class="price-card">
        <div class="price-header">
          <h2>Expert</h2>
          <div class="price-cost">Please Contact for Pricing</div>
          <p>Good for new businesses</p>
        </div>
        <div class="price-body">
          <button class="btn b4">Contact Us</button>
        </div>
      </div>
    </div>
  </div>
</div>