<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-3">
      <h5>Actions & Insights</h5>
      <h3 class="text-gray">{{event?.name}}</h3> 
      <button class="btn btn-primary btn-sm" (click)="goToEdit()">Edit</button>
      
      <div>
        <p>Total Tickets Sold {{event?.total_tickets_sold}}</p>
      </div>
    </div>

    <div class="col-md-8 offset-md-2 my-3 border p-1">
       <p>Ticket Options</p>        
       <div class="col-md-12 d-flex border-top" *ngFor="let option of event?.ticket_options">
         <p class="w-25"><strong>{{option?.name}}</strong></p>
         <p class="w-25">price ${{option?.price}}</p>
         <p class="w-25">tickets sold {{option?.tickets_sold}}</p>
         <p class="w-25">Amount sold ${{option?.dollar_amount_sold}}</p>
       </div>
    </div>

    <div class="col-md-8 offset-md-2 my-3">        
        <p>Messaging</p>
        <app-event-alerts [eventId]="eventId"></app-event-alerts>
    </div>
    
  </div>
</div>
