<div class="body-padding" [ngClass]="{'rejected': displayFailure==true, 'accepted': displaySuccess==true}">
  <a id="go-back" href="javascript:history.back();">&times;</a>
  <div class="frame">
    <div class="bit-1">
      <div class="scanner-overlay">
        <p class="text-white bg-dark">
          <i class="fas fa-lg fa-qrcode"></i>
          Scan Tickets
        </p>
        <p *ngIf="resultString">{{resultString}}</p>
        <div *ngIf="errors.length > 0">
          <div *ngFor="let error of errors">
            <p>{{error}}</p>      
          </div>
        </div>

        <div *ngIf="responseData">
          <p>{{responseData['accepted']}}</p>
        </div>
      </div>
      <zxing-scanner #scanner
        start="true" 
        [device]="selectedDevice"
        (camerasFound)="camerasFoundHandler($event)"
        (scanSuccess)="scanSuccessHandler($event)"
        (scanError)="scanErrorHandler($event)"
      ></zxing-scanner>
      <!--(scanFailure)="scanFailureHandler($event)"-->
    </div>
  </div>
</div>

