
<div class="container-fluid">
  <h3>My Events</h3>
  <div class="row">    
    <div class="col-md-3" *ngFor="let event of events">
        <div class="card">
            <img src="{{IMAGE_URL}}{{event.image}}" class="card-img-top" alt="..." *ngIf="event.image">
            <img src="../assets/imgs/event-noimage.png" class="card-img-top w-25 mx-auto" alt="..." *ngIf="event.image==null || event.image==undefined">
            <div class="card-body">
              <h3>{{event.name}}</h3>
              <small>{{event.location}}</small><br/>
              <small>{{event.occurrences[0]?.start | date: 'medium'}}</small>
            </div>
        </div>
        <button (click)="goToDetail(event.id)" class="btn btn-primary">View</button>
        <button (click)="goToEdit(event.id)" class="btn btn-primary">Edit</button>
        <button (click)="goToActions(event.id)" class="btn btn-primary">Actions & Stats</button>
    </div>
  </div>
</div>
