<div id="account-settings" class="body-padding">
  <div class="frame">
    <div class="bit-1">
        <h2 style="text-align: center;">Account Settings</h2>
        <h3>{{user.first_name}} {{user.last_name}}</h3>
        <h4 style="margin-bottom: 60px;">{{user.email}}</h4>
        
        <form [formGroup]="profileForm" class="d-flex flex-wrap" *ngIf="profileForm" (submit)="saveProfile()">
          <div class="form-group first-name">
            <label class="mb-1"><h4>First Name</h4></label>
            <input class="form-control" type="text" formControlName="first_name">
          </div>
          <div class="form-group last-name">
            <label class="mb-1"><h4>Last Name</h4></label>
            <input class="form-control" type="text" formControlName="last_name">
          </div>
          <div class="form-group w-100">
            <label class="mb-1"><h4>Email</h4></label>
            <input class="form-control" type="text" formControlName="email">
          </div>

          <div class="form-check">
              <label class="form-check-label" for="exampleCheck1"><h4>Recieve Notifications&nbsp;</h4></label>
              <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="recieves_emails">
              <span class="checkmark"></span>
              <p><small>We will send You email Updates on Your events and Actions You might need to take. Your Information is never given to a third party.</small></p>
          </div>

          <div class="form-check">
              <label class="form-check-label" for="exampleCheck1"><h4>Recieve Notifications From Event Organizers&nbsp;</h4></label>
              <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="receives_emails_from_organizers">
              <span class="checkmark"></span>
              <p><small>Event Organizers may need to email patrons in case of changes or for further instructions.</small></p>
          </div>

          <div class="w-100">
            <button class="b4 btn btn-primary btn-sm" style="margin-bottom: 30px">Save</button>
          </div>
        </form>

        <div class="mt-4 mb-4"><app-stripe-oauth></app-stripe-oauth></div>
        
        <!--<h3>Payment Methods</h3>  
        <app-stripe-save-card></app-stripe-save-card>

        <div class="mt-3">
          <app-saved-payment-methods></app-saved-payment-methods>
        </div>-->
  

        <a routerLink="/creator/my-events" style="display: block; margin-bottom: 30px;"><button class="b4 btn">Go To My Events</button></a>

        <button class="b4 btn text-danger btn-sm">Log Out</button>

    </div>
  </div>
</div>
