<h4>Edit Event</h4>

<div class="container">
  <div class="row">
    <div class="p-1">
        <button class="btn btn-primary inline mx-2">Hide This Event</button>
        <button class="btn btn-danger inline mx-2" (click)="confirmDelete()">Delete This Event</button>
    </div>
    <div class="col-md-8 offset-md-2 mt-5">
      <form [formGroup]="editForm" *ngIf="editForm" (submit)="createEvent()">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" value="true" formControlName="is_inactive">
          <label class="form-check-label" for="exampleCheck1">Save as Inactive</label>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Event Name</label>
          <app-error-display [errorMessage]="formErrors['name']" *ngIf="formErrors['name']"></app-error-display>
          <input formControlName="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name Your Event">
          <small id="emailHelp" class="form-text text-muted">Maximum length 70 Characters</small>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Location</label>
          <app-error-display [errorMessage]="formErrors['location']" *ngIf="formErrors['location']"></app-error-display>
          <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"
          formControlName="location" type="text" class="form-control" aria-describedby="location" placeholder="Where is your event?"
          />
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Venue</label>
          <input formControlName="venue" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Venue">
        </div>

        <div class="input-group mb-3">
          <label for="exampleInputPassword1">Event Type</label>
          <app-error-display [errorMessage]="formErrors['type_obj']" *ngIf="formErrors['type_obj']"></app-error-display>
          <select class="custom-select" id="inputGroupSelect01" formControlName="type_obj" [value]=event.type_obj>
            <option *ngFor="let type of types" value="{{type.id}}">{{type.name}}</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <label for="exampleInputPassword1">Category</label>
          <app-error-display [errorMessage]="formErrors['type_obj']" *ngIf="formErrors['type_obj']"></app-error-display>
          <select class="custom-select" id="inputGroupSelect01" formControlName="category_obj" [value]=event.category_obj>
            <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
          </select>
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Organizers</label>
            <app-error-display [errorMessage]="formErrors['organizers']" *ngIf="formErrors['organizers']"></app-error-display>
            <input type="text" formControlName="organizers" class="form-control">
        </div>

        <h3 class="mt-5 mb-4">Describe Your Event</h3>
          
        <div class="input-group">
          <app-error-display [errorMessage]="formErrors['description']" *ngIf="formErrors['description']"></app-error-display>

          <textarea formControlName="description" class="form-control w-100" aria-label="With textarea" cols="20" placeholder="Enter Description"></textarea>
        </div>

        <h3 class="mt-5">Image</h3>
        <app-error-display [errorMessage]="formErrors['image']" *ngIf="formErrors['image']"></app-error-display>
        <p>Upload An Image to use as your event Thumbnail</p>
        <p *ngIf="errors.hasOwnProperty('image')" class="text-danger">{{errors.image[0]}}</p>
        <small class="mb-4 text-secondary">Tip: Use a High Quality Image.</small>

        <div class="image-container">
          <img class="w-50 ml-auto mr-auto" src="../assets/svg/picture.svg" *ngIf="selectedFile == undefined && !event.image" alt="#">
          <img class="w-100" src="{{selectedFile.src}}" *ngIf="selectedFile != undefined" alt="#">
          <img class="w-100" src="{{event.image}}" *ngIf="event.image && selectedFile == undefined">
        </div>
        <div class="input-group mt-4">
            <input #imageInput type="file" (change)="processFile(imageInput)"> <!--accept="image/*"-->
        </div>
          

        <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>
    </div>

    <!--<div class="col-md-8 offset-md-2 mt-5">
      <app-occurrence-create [event]="createdEvent"></app-occurrence-create>
    </div>-->

    <div class="col-md-8 offset-md-2 mt-5" *ngIf="event">
      <app-occurrence-edit [event]="event"></app-occurrence-edit>
    </div>

    <div class="col-md-8 offset-md-2 mt-5" *ngIf="event">
        <p>Ticket Options</p>
        <app-ticket-options [event]="event"></app-ticket-options>
    </div> 
    
  </div>
  
</div>

<!--<app-event-creator-single [passedEvent]="event"></app-event-creator-single>-->

<!--<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 mt-5">
        <form [formGroup]="editForm" *ngIf="editForm" (submit)="editEvent(event.id)">
          <h3 class="mb-4">Edit {{event.name}}</h3>
          <div class="form-group">
            <label for="exampleInputEmail1">Event Name</label>
            <input formControlName="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name Your Event">
            <small id="emailHelp" class="form-text text-muted">Maximum length 70 Characters</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Date</label>
            <input formControlName="date" type="text" class="form-control" id="exampleInputPassword1" placeholder="Select a Date for your Event">
          </div>
  
          <div class="input-group mb-3">
              <label for="exampleInputPassword1">Event Type</label>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
          </div>
  
          <div class="form-group">
              <label for="exampleInputPassword1">Organizers</label>
              <input type="text" class="form-control">
            </div>
  
          <h3 class="mt-5 mb-4">Describe Your Event</h3>
            
          <div class="input-group">
            <textarea formControlName="description" class="form-control w-100" aria-label="With textarea" cols="20" placeholder="Enter Description"></textarea>
          </div>
  
          <h3 class="mt-5">Image</h3>
          <p>Upload An Image to use as your event Thumbnail</p>
          <small class="mb-4 text-secondary">Tip: Use a High Quality Image.</small>
  
          <div class="image-container">
            <img class="w-50 ml-auto mr-auto" src="../assets/svg/picture.svg" *ngIf="selectedFile == undefined" alt="#">
            <img class="w-100" src="{{selectedFile.src}}" *ngIf="selectedFile != undefined" alt="#">
          </div>
          <div class="input-group mt-4">
              <input #imageInput type="file" (change)="processFile(imageInput)"> 
          </div>
            
  
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
      </div>

      <!--<div class="col-md-8 offset-md-2 mt-5">
        <app-occurrence-create [eventId]="createdEventId"></app-occurrence-create>
      </div>
  
      <div class="col-md-8 offset-md-2 mt-5">
        <app-ticket-options [eventId]="createdEventId"></app-ticket-options>
      </div>

    </div>
  </div>-->