<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center mt-5">
      <h1>Event Creator</h1>
      <small>Create Your Event. It will be great!</small>
      <a routerLink="single"><button class="btn btn-large primary-color text-white shadow px-5 d-block ml-auto mr-auto mt-5">Create</button></a>
    </div>
    <div class="col-md-6 offset-md-3 text-center mt-4">
      <img class="text-primary-color" style="width: 40%;max-width: 500px;" src="../assets/svg/tickets.svg" alt="#">
    </div>
  </div>
</div>