<div id="user-menu">
    <div class="row" *ngIf="loggedIn==true">
      <div class="col-md-12">
        <h3>{{user.first_name}} {{user.last_name}}</h3>
        <h4><small>{{user.email}}</small></h4>
        <ul class="list-group">
          <li class="list-group-item"><a routerLink="my-tickets">Tickets</a></li>
          <li class="list-group-item"><a routerLink="creator/my-events">My Events</a></li>
          <li class="list-group-item"><a routerLink="creator">Create Event</a></li>
          <li class="list-group-item"><a routerLink="account-settings">Account Settings</a></li>
          <li class="list-group-item"><a routerLink="event-utilities">Event Utilities</a></li>
          <li class="list-group-item text-danger" (click)="logout()" style="cursor:pointer;">Logout</li>
        </ul>
      </div>
    </div>

  <app-login *ngIf="loggedIn==false"></app-login>
</div>