<div id="header">
    <div class="frame">
      <div class="bit-1">
        <ul id="navigation-left">
          <a href="/"><h5>Fanattix</h5></a>
        </ul>
        <ul id="navigation-right">
          <li><a href="/">Home</a></li>
          <li><a class="create-event" routerLink="creator">Event Creator</a></li>
          <li><a class="create-event" routerLink="search">Search Events</a></li>
          <li (click)="toggleAccountMenu()"><i class="fas fa-user-circle"></i></li>
          <div class="account-menu" *ngIf="accountMenu==true"><app-user-menu></app-user-menu></div>
        </ul>
      </div>
    </div>
  </div>
