<div id="hero" style="text-align: left;">
  <img class="object-fit" src="https://images.unsplash.com/photo-1458891216473-4f26bb4eb40e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"/>
    <div class="center">
      <div class="frame">
        <h1 style="font-size: 72px;">Discover & Create Events</h1>
      </div>
    </div>
</div>

<!--<app-search></app-search>-->

  <div id="events">
    <div class="frame">
      <div class="bit-1" #eventList>
        <h2>Upcoming <span style="font-weight:600;">Events</span></h2>
        <div class="event-buttons">
          <button type="button" (click)="getEvents(eventList)" class="b3 btn btn-secondary btn-sm">All Events</button>
          <button type="button" (click)="getFreeEvents(eventList)" class="b3 btn btn-primary btn-sm">Free</button>
          <button type="button" (click)="goToEventCreator()" class="b3 btn btn-secondary btn-sm"><h2>+</h2>&#43;<span>Create Event</span></button>
        </div>
      </div>
      <app-event-list [events]="events?.results"></app-event-list>
      <button id="browse-events" class="btn b6" (click)="goToSearch()">Browse</button>
      
    </div>
  </div>

  

  <div id="events">
    <div class="frame">
      <div class="bit-1" #eventList>
        <h2>Events Near <span style="font-weight:400;">You</span></h2>
      </div>
      <app-event-list [events]="events?.results"></app-event-list>
      
    </div>
  </div>

  <app-category-scroll></app-category-scroll>
