
<div class="container-fluid">
  <div class="row" style="height: 480px;background: url(../assets/imgs/sitback.jpeg);background-size: cover;background-position:center;">
    <div class="col-md-12">
      <!--<img src="../assets/imgs/sitback.jpeg" alt="banner">-->
      <h1 style="color: white;font-weight: 700;margin-top:100px;font-size: 600%;">Sunday Brunch & Lunch</h1>
      <p style="color: white;font-weight: 700;">Sunday September 31, 2019</p>
    </div>
  </div>

  <div class="row mt-2" style="top: 100%;left: 40%;z-index:600;">
    <div class="col-md-10 ml-auto mr-auto">
      <app-search></app-search>
    </div>    
  </div>

  <div class="row">
    <div class="col-md-12" #eventList style="margin-top: 60px;margin-bottom: 20px;display: flex;">
        <h1>Upcoming Events</h1>
        <button type="button" class="btn btn-primary btn-sm">Popular</button>
        <button type="button" (click)="getEvents(eventList)" class="btn btn-secondary btn-sm">All Events</button>
        <button type="button" (click)="getFreeEvents(eventList)" class="btn btn-primary btn-sm">Free</button>
        <button type="button" (click)="goToEventCreator()" class="btn btn-secondary btn-sm" >Create Event</button>
    </div>
  </div>

  <div>
    <app-event-list [events]="events"></app-event-list>
  </div>

  <div>
    <app-category-scroll></app-category-scroll>
  </div>
  
</div>