<div class="row">
  <div class="col-md-12">
    <div *ngIf="errors"><p><small *ngFor="let error of errors">{{error}}</small></p></div>
    <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <a routerLink="sign-up"><small id="emailHelp" class="form-text text-muted">Register</small></a>
      <small id="emailHelp" class="form-text text-muted">Forgot Password</small>
    </form>
  </div>
</div>