<div id="user-menu" class="not-logged-in">

  <div class="row">
    <div class="col-md-12">
      <div *ngIf="errors"><p><small *ngFor="let error of errors">{{error}}</small></p></div>
      <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="exampleInputEmail1"><h4>Email address</h4></label>
          <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1"><h4>Password</h4></label>
          <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password">
        </div>
        <button type="submit" class="btn b4">Login</button>
        <a routerLink="sign-up"><small id="emailHelp" class="form-text text-muted"><h4>Register</h4></small></a>
        <h4><small id="emailHelp" class="form-text text-muted">Forgot Password</small></h4>
      </form>
    </div>
  </div>

</div>