/* You can add global styles to this file, and also import other style files */
.primary-color{
    background: #563D7C !important;
}
.text-primary-color{
    color: #563D7C !important;
}
.shadow{
    box-shadow: 3px 3px 32px #563D7C;
}

/*** New Style ****/
*{
    font-family: 'Red Hat Display', sans-serif;
}
input, textarea{
    border-radius: 0;
}
/**
body, html{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}**/

/* todo add Xitauri */

