<div id="search-home">
    <div class="frame">
      <div class="bit-5" style="position: relative;">
      
        <!--<h5>Event Search</h5>
        <div class="search-filter-container">
          <button class="search-filter sf-left btn-primary btn" (click)="changeSearch('title')">By Title</button>
          <button class="search-filter sf-right btn-primary btn" (click)="changeSearch('cld')">By Nearby & Times</button>
        </div>-->
      </div>
      <div class="bit-1">
        <!--<app-search-bar *ngIf="search == 'cld'"></app-search-bar>-->
        <app-search-title *ngIf="search == 'title'"></app-search-title>
      </div>
       <div class="bit-1">
        <app-event-list [events]="results"></app-event-list>
      </div>
    </div>
  </div>


